### Git
- clone
    + 레포지토리 복사해오기
    + Git BASH 열기 > 원하는 디렉토리 가기 > `git clone 내가_clone_하고싶은_주소_(웹상에서_확인)`
- repository 만들기
    + 웹에서 만들기
- git 명령어
    + git status
        * 현재 상황 체크
    + git add 원하는 파일
        * 원하는 파일을 관리 대상에 넣음
    + git commit
        * 스크린샷 찍기
        * git commit -m "원하는 메세지"
    + git push
        * 로컬(내 컴퓨터)의 스크린샷을 (커밋을) 레포지토리에 올리기.
        * 순서: git add ?? > git commit -m "message" > git push
    + git log
        * 스크린샷 확인하기
    + git pull
        * repository의 commit을 내 로컬로 받아오기
- Bash 열기
    + Git BASH 열기
    + 명령어
        * pwd: 현재 위치의 절대경로 출력
        * cd
            - change directory: 원하는 directory 가기
            - cd 원하는_디렉토리_위치
            - ex) cd ~ : 홈 화면으로 가기
            - file_path 부르는 방법
                + 공통: / == 디렉토리 구분
                + 절대 경로: ~/Desktop/1209/test, ~
                + 상대 경로: 현재에서 상위로 / 하위 어디로
                    * .. : 상위
                    * . : 현재 (default)
        * ls
            - list: 디렉토리의 파일 목록 보여주기
            - list 내가_보고싶은_디렉토리_위치
        * mv
            - move: 파일 위치 바꾸기
            - mv from(내가_움직이고싶은_대상_위치) to(내가_옮기고싶은_새로운_위치)
        * cp
            - copy: 파일 복사하기
            - cp from(내가_복사하고싶은_대상_위치) to(내가_복사하고싶은_새로운_위치)
            - cp -r from to: directory 복붙
        * clear
            - 화면 다 정리해버리기
        * rm
            - remove: 파일 지우기
            - 휴지통에 없음. 주의
            - rm -r from to: directory 삭제
        * cat
            - 파일 프린트
        * head -n 3 파일이름
        * ctrl + c: 중단
    + shell 프로그램
        * asfdsdfs.sh
        * 예시 참조
    + vim
        * 리눅스계의 메모장

### Class
- 집합 개념
    + 무엇을 모은 집합? 
    = 똑같은 목적을 가진 다른 기능을 하는 함수 / 데이터 들의 모임
    = 똑같은 목적을 가진 다른 기능을 하는 함수 / field 들의 모임

In [76]:
class Cat:
    def __init__(self):
        # Field / Attribute
        self.name = ""
        self.age = 1
        self.foodlst = list()
        self.babylst = list()
        
    def be_nice(self):
        print("Say hello")
    
    def get_older(self):
        self.age += 1
        
    def rename(self, new_name):
        self.name = new_name
        
    def experience(self, new_food):
        self.foodlst.append(new_food)
        
    def eat(self, food):
        print("I ate %s" % food)
        
    def have_baby(self, baby):
        self.babylst.append(baby)
    
    def print_baby(self):
        for baby in self.babylst:
            print(baby.name)

In [77]:
Reo = Cat()

In [78]:
Reo.name = "REO"
print('My cat\'s name is %s' % Reo.name)

Reo.rename("Reo")
print('My cat\'s name is %s' % Reo.name)

My cat's name is REO
My cat's name is Reo

In [79]:
Reo.experience("tomato")
Reo.experience("banana")
Reo.eat('apple')

I ate apple

In [80]:
Reo.be_nice()

Say hello

In [81]:
Reo.get_older()
print('My cat\'s age is %d' % Reo.age)

My cat's age is 2

In [82]:
Hana = Cat()
Hana.rename("Hana")

Dona = Cat()
Dona.rename("cute Dona")

Reo.have_baby(Hana)
Reo.have_baby(Dona)

Reo.print_baby()

Hana
cute Dona

### Package
- class와 다르게, 디렉토리 별로 함수를 묶어서 관리

In [83]:
from my_package.action import be_nice

In [84]:
be_nice()

Hi

In [85]:
from my_package.action import *
# *은 모든 함수 가져온다는 뜻
be_mean()

.

In [23]:
import pandas as pd
d1 = pd.read_csv('data1.txt', sep='\t')
d2 = pd.read_csv('data3.txt', sep='\t')
d12 = pd.concat([d1,d2]).drop_duplicates()

In [24]:
d12

   Name  Age  Gender
0  Chul   10  Female
1  Youn   22    Male
2  Leee   33    Male