### Git
-

In [5]:
class Cat:
    def __init__(self):
        self.name = ""
        self.age = 0

In [6]:
cat1 = Cat()

In [8]:
cat1.name = 'Neo'

In [9]:
cat1.name

'Neo'

In [23]:
import pandas as pd
d1 = pd.read_csv('data1.txt', sep='\t')
d2 = pd.read_csv('data3.txt', sep='\t')
d12 = pd.concat([d1,d2]).drop_duplicates()

In [24]:
d12

   Name  Age  Gender
0  Chul   10  Female
1  Youn   22    Male
2  Leee   33    Male